# Ignore the environment variables file
# Ignoruj plik ze zmiennymi środowiskowymi
apikey.env

# Ignore the Node.js dependencies folder
# Ignoruj folder z zależnościami Node.js
node_modules/

# Add other files/folders to ignore if needed
# Dodaj inne pliki/foldery do zignorowania, jeśli potrzebne
# dist/
# build/
# *.log
